@import "overrides";

.apartment {
  width: 100%;
  background: rgba(255,255,255,1);
  box-shadow: 0px 0px 5px * $hd 0px rgba(222, 222, 222, 1);
  border-radius: 6px * $hd;

  &-header {
    position: relative;

    &-title {
      position: absolute;
      left: 18px * $hd;
      top: 16px  * $hd;
      background: rgba(255, 255, 255, 0.9);
      border-radius: 6px  * $hd;
      padding: 2px * $hd 9px  * $hd;
      font-size: 12px  * $hd;
      color: #888;
    }

    &-type {
      position: absolute;
      left: 20px * $hd;
      bottom: 0;
      transform: translateY(50%);
      color: #fff;
      padding: 4px * $hd 12px * $hd;
      font-size: 10px * $hd;
      border-radius: 6px * $hd;
      background: #ffc919;
    }

    &-favorite {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &-content {
    &-main {
      width: 70%;
    }

    &-desc {
      max-width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .at-tag {
    height: auto;
  }

  image {
    border-top-left-radius: 6px * $hd;
    border-top-right-radius: 6px * $hd;
  }
}

.apartment-mask {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  position: fixed;
  background: #fff;
}

.apartment-item-mask {
  background: #F8F8F8;
  border-radius: 12px * $hd;
}

.apartment-container {
  position: relative;

  &-favorite {
    position: absolute;
    right: 25px * $hd;
    top: -25px * $hd;
    background: #ffffff;

    height: 50px * $hd;
    width: 50px * $hd;
    border-radius: 50%;
    box-shadow: 0px 3px 10px rgba(255,201,25,0.46);
  }
}
