@import "overrides";

.apartment {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 5px * $hd 0px rgba(222, 222, 222, 1);
  border-radius: 6px * $hd;

  &-image{
    width: 100%;
    height: 100%;
    border-radius: 24px;
  }

  &-heart{
    width : 80px;
    height : 70px;

    &-wrap{
      padding: 10px;
    }

    &-num{
      top: 0;
      position: absolute;
      text-align: center;
      font-size: 30px;
      left: 50%;
      top: 42%;
      transform: translate(-50%,-50%);
      color: #FFC919
    }
  }

  &-header-type{
    position: absolute;
    left: 6%;
    bottom: 0;
    transform: translateY(50%);
    color: #fff;
    border-radius: 12px;
    background: #ffc919;
  }
  &-box-shadow-style{
    border-radius: 12px;
    box-shadow: 0 2px 10px rgb(200,200,200);
    overflow: hidden;
    margin-bottom : 40px;
  }
  &-card-margin-style{
    margin-bottom : 40px;
  }


  

  &-header {
    position: relative;
    border-radius: 6px * $hd; 

    &-title {
      position: absolute;
      left: 18px * $hd;
      top: 16px * $hd;
      background: rgba(255, 255, 255, 0.9);
      border-radius: 6px * $hd;
      padding: 2px * $hd 9px * $hd;
      font-size: 12px * $hd;
      color: #888;
    }

    &-type {
      position: absolute;
      left: 20px * $hd;
      bottom: 0;
      transform: translateY(50%);
      color: #fff;
      padding: 4px * $hd 12px * $hd;
      font-size: 10px * $hd;
      border-radius: 6px * $hd;
      background: #ffc919;

      &-item{
        border-radius: 24px;
        overflow: hidden;
      }
    }

    &-favorite {
      position: absolute;
      top: 5px * $hd;
      right: 5px * $hd;
    }
  }

  &-content {
    &-main {
      width: 70%;
    }

    &-desc {
      max-width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .at-tag {
    height: auto;
  }

  image {
    border-top-left-radius: 6px * $hd;
    border-top-right-radius: 6px * $hd;
  }
}

.apartment-mask {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  position: fixed;
  background: #fff;
}

.apartment-item-mask {
  background: #f8f8f8;
  border-radius: 12px * $hd;
}

.apartment-container {
  position: relative;

  &-favorite {
    position: absolute;
    right: 25px * $hd;
    top: -25px * $hd;
    background: #ffffff;

    height: 40px * $hd;
    width: 40px * $hd;
    border-radius: 50%;
    box-shadow: 0px 3px 10px rgba(255, 201, 25, 0.46);
  }

  &-sign {
    width: 18px * $hd;
    height: 18px * $hd;
  }

  &-opacityBgStyle {
    position: absolute;
    border-radius: 24px;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.5;
  }

  &-picIndexStyle {
    position: absolute;
    height: 50px;
    width: 140px;
  }

  &-heartNum {
    position: absolute;
    text-align: center;
    font-size: 24px;
    left: 50%;
    top: 45%;
    transform: translate(-50%,-50%);
    color: #FFC919;
  }

  &-heart{
    width: 60px; 
    height: 52px ;
  }
}
