@import "overrides";

.apartment {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 5px * $hd 0px rgba(222, 222, 222, 1);
  border-radius: 6px * $hd;

  &-order {
    &-step-mask {
      width: 80%;
      z-index: 200;
      background: #fff;
      border-radius: 12px * $hd;
      .at-button {
        height: 37px * $hd;
        line-height: 37px * $hd;
      }
    }
    &-lease-insurance {
      background: linear-gradient(to right, #ffd447, #f8ecd0);
      .picture {
        width: 104px * $hd;
        height: 36px * $hd;
      }
    }
    &-deal-banner-picture {
      width: 344px * $hd;
      height: 64px * $hd;
    }
    &-coupon {
      &-icon {
        background: linear-gradient(to right, #ffc919, #fba700);
        padding: 5px * $hd 15px * $hd;
        border-radius: 6px * $hd;
        position: relative;
        color: #fff;
        &-angle {
          background: #fff;
          border-radius: 50%;
          width: 20px;
          height: 20px;
        }
      }
    }
    &-room {
      width: 100%;
      &-item {
        border-bottom: 1px solid rgb(240, 240, 240);
      }
      &-item:last-child {
        border: none;
      }
      .at-button {
        height: 37px * $hd;
        line-height: 37px * $hd;
        width: 136px * $hd;
      }
    }
    &-mask {
      background: #fff;
    }
  }

  &-coupon {
    position: relative;
    right: -16px * $hd;
    background: linear-gradient(to right, #ffc919, #feb013);
    border-top-left-radius: 16px * $hd;
    border-bottom-left-radius: 16px * $hd;
    padding: 5px * $hd 6px * $hd 5px * $hd 12px * $hd;
    min-width: 75px * $hd;

    &-item {
      width: 90%;
      margin-left: 5%;
      height: 84px * $hd;
      border-radius: 12px * $hd;
      position: relative;
      // background: #fff;
      &.background {
        &-gray {
          background: #c8c8c8;
        }
        &-white {
          background: #fff;
        }
      }

      &.shadow {
        &-yellow {
          box-shadow: 0 1px 6px #ffc919;
          border: 1px solid #ffe284;
        }
        &-black {
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
        }
      }

      &-expired {
        width: 90%;
        margin-left: 5%;
        height: 84px * $hd;
        border-radius: 12px * $hd;
        position: relative;
        background: #c8c8c8;
      }

      &-angle {
        width: 12px * $hd;
        height: 8px * $hd;
        background: #f8f8f8;
        position: absolute;
        left: 68%;
        &.top {
          border-radius: 0 0 12px 12px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          &-active {
            border-bottom: 1px solid #ffe284;
          }
        }
        &.bottom {
          border-radius: 12px 12px 0 0;
          border-top: 1px solid rgba(0, 0, 0, 0.1);
          &-active {
            border-top: 1px solid #ffe284;
          }
        }
      }
    }
  }

  &-type{
    &-item{
      .mask {
        background: #000;
        opacity: 0.5;
        width: 100%;
        height: 200px;
        position: absolute;
        z-index: 20;
      }
      .font {
        color: #fff;
        position: absolute;
        z-index: 30;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 200px;
      }
    }
  }

  &-heart {
    width: 70px;
    height: 60px;

    &-wrap {
      padding: 10px;
    }

    &-num {
      top: 0;
      position: absolute;
      text-align: center;
      font-size: 28px;
      left: 50%;
      top: 42%;
      transform: translate(-50%, -50%);
      color: #ffc919;
    }
  }
  &-image {
    width: 100%;
    height: 100%;
    border-top-left-radius: 6px * $hd;
    border-top-right-radius: 6px * $hd;
  }
  &-header-type {
    position: absolute;
    left: 6%;
    bottom: 0;
    transform: translateY(50%);
    color: #fff;
    border-radius: 12px;
    background: #ffc919;
  }
  &-box-shadow-style {
    border-radius: 12px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 40px;
  }
  &-card-margin-style {
    margin-bottom: 40px;
  }

  &-header {
    position: relative;
    border-radius: 6px * $hd;

    &-title {
      position: absolute;
      left: 5%;
      top: 10%;
      background: rgba(255, 255, 255, 0.9);
      border-radius: 6px * $hd;
      padding: 2px * $hd 9px * $hd;
      font-size: 12px * $hd;
      color: #888;
    }

    &-type {
      position: absolute;
      // left: 20px * $hd;
      bottom: 0;
      transform: translateY(50%);
      color: #fff;
      padding: 4px * $hd 12px * $hd;
      font-size: 10px * $hd;
      border-radius: 6px * $hd;
      background: #ffc919;

      &-item {
        border-radius: 24px;
        overflow: hidden;
      }
    }

    &-favorite {
      position: absolute;
      top: 5px * $hd;
      right: 5px * $hd;
    }
  }

  &-content {
    &-main {
      width: 70%;
    }

    &-desc {
      max-width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .at-tag {
    height: auto;
  }

  image {
    border-top-left-radius: 6px * $hd;
    border-top-right-radius: 6px * $hd;
  }
}

.apartment-mask {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  position: fixed;
  background: #fff;
}

.apartment-item-mask {
  background: #f8f8f8;
  border-radius: 12px * $hd;
}

.apartment-container {
  position: relative;
  &-opactyRoom {
    width: 115px * $hd;
    height: 26px * $hd;
    background: rgba(0, 0, 0, 1);
    opacity: 0.5;
    border-radius: 13px * $hd;
    position: absolute;
    z-index: 99;
    top: 200px * $hd;
    left: 75px * $hd;
  }
  &-favorite {
    position: absolute;
    right: 25px * $hd;
    top: -75px;
    background: #ffffff;

    height: 50px * $hd;
    width: 50px * $hd;
    border-radius: 50%;
    box-shadow: 0px 3px 10px rgba(255, 201, 25, 0.46);
  }

  &-sign {
    width: 18px * $hd;
    height: 18px * $hd;
  }

  &-opacityBgStyle {
    position: absolute;
    border-radius: 24px;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.5;
  }

  &-picIndexStyle {
    width: 50px * $hd;
    height: 26px * $hd;
    background: rgba(0, 0, 0, 1);
    opacity: 0.5;
    border-radius: 13px * $hd;
    position: absolute;
    z-index: 99;
    top: 200px * $hd;
    left: 15px * $hd;
  }

  &-heartNum {
    position: absolute;
    text-align: center;
    font-size: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #ffc919;
  }

  &-heart {
    width: 66px;
    height: 57px;
  }
}

.house-type {
  &-branding {
    background-color: rgb(248, 248, 248);
    border-radius: 32px;
  }
  &-public-configuration {
    background-color: rgba(248, 248, 248, 1);
    border-radius: 24px;
    width: 80px;
    height: 80px;
  }
  &-deposit {
    border-radius: 24px;
    background-color: rgba(255, 201, 25, 1);
    color: #fff;
    text-align: center;
  }
  &-image {
    height: 350px;
    display: inline-block;
  }

  &-apartment-type-border {
    border-radius: 12px;
    box-shadow: 0 2px 12px rgb(220, 220, 220);
    overflow: hidden;
    margin-right: 28px;
  }
  &-has-room-block {
    border-radius: 10px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    padding: 4px 14px;
  }
  &-gray-background {
    background-color: #f8f8f8;
    border-radius: 24px;
  }
}

.image-list {
  position: absolute;
  height: 27px * $hd;
  width: 27px * $hd;
  border-radius: 50%;

  border-style: solid;
  border-width: 2px * $hd;
  border-color: #ffffff;
}

.apartment-item {
  &-risk {
    width: 85px * $hd;
    height: 23px * $hd;
    background: rgba(255, 201, 25, 1);
    opacity: 1;
    border-radius: 9px * $hd;
  }
  &-noaAppoint {
    // padding: 3px 3px;
    height: 22px * $hd;
    opacity: 1;
    border-radius: 8px * $hd;
    border: 1px * $hd solid rgba(255, 201, 25, 1);
  }
  &-haveAppoint {
    width: 44px * $hd;
    height: 22px * $hd;
    opacity: 1;
    border-radius: 8px * $hd;
    border: 1px * $hd solid rgba(216, 216, 216, 1);
  }
  &-buttonYellow {
    width: 98px * $hd;
    height: 30px * $hd;
    background: rgba(255, 201, 25, 1);
    opacity: 1;
    border-radius: 23px * $hd;
  }
  &-buttonGrey {
    width: 98px * $hd;
    height: 30px * $hd;
    background: rgba(216, 216, 216, 1);
    opacity: 1;
    border-radius: 23px * $hd;
  }

  &-buttonYellowBo {
    padding: 5px 10px * $hd;
    height: 30px * $hd;
    background: rgba(255, 201, 25, 1);
    border-radius: 23px * $hd;
  }
  &-buttonGrayBo {
    padding: 5px 10px * $hd;
    height: 30px * $hd;
    background: rgba(216, 216, 216, 1);
    border-radius: 23px * $hd;
  }
}
.appointment {
  &-image {
    width: 343px * $hd;
    height: 292px * $hd;
    border-radius: 10px * $hd 10px * $hd 0 0;
  }
  &-coupon {
    width: 40px * $hd;
    position: absolute;
    left: -4px * $hd;
    // height: 33px * $hd;
  }
  &-coupontwo {
    width: 40px * $hd;
    position: absolute;
    left: -4px * $hd;
    top: -3px * $hd;
    // height: 33px * $hd;
  }
}
