@import "overrides";

.service {
  &-button {
    background: #ffc919;
    border-radius: 45px * $hd;
    text-align: center;
    align-items: center;
    &-gray {
      border-radius: 45px * $hd;
      text-align: center;
      align-items: center;
      border-color: #F2F2F2;
      background: #F2F2F2;
    }
  }
  &-head {
    position: absolute;
    left: 23px;
    top: 0px;
  }
  &-line {
    width: 0px * $hd;
    height: 30px * $hd;
    border: 1px solid rgba(242, 242, 242, 1);
    opacity: 1;
  }
}

// .service-middle{
//   position:absolute ;
//   left:9px ;
//   // top:44%;
//   border-radius:12px * $hd;
//   width:293px * $hd;
//   height:45px * $hd;
//   background:rgba(255,255,255,1);
//   box-shadow:0px 3px 6px rgba(0,0,0,0.04);
// }

.font-center {
  text-align: center;
  align-items: center;
}

.message {
  &-item {
    background: #ffffff;
    border-radius: 12px * $hd;
    max-width: 200px * $hd;
    min-height: 20px * $hd;
    line-height: 20px * $hd;
  }
  &-background {
    width: 100%;
  }
}

.appointment{
  &-padding {
    margin-right: 32px
  }
}
