@import "overrides";

.service {
  &-button {
    background: #ffc919;
    border-radius: 45px * $hd;
    text-align: center;
    align-items: center;
    &-gray {
      border-radius: 45px * $hd;
      text-align: center;
      align-items: center;
      border-color: #f2f2f2;
      background: #f2f2f2;
    }
  }
  &-head {
    position: absolute;
    left: 23px;
    top: 0px;
  }
  &-line {
    width: 0px * $hd;
    height: 30px * $hd;
    border: 1px solid rgba(242, 242, 242, 1);
    opacity: 1;
  }
}

.font-center {
  text-align: center;
  align-items: center;
}

.message {
  &-item {
    background: #ffffff;
    border-radius: 12px * $hd;
    max-width: 200px * $hd;
    min-height: 20px * $hd;
    line-height: 20px * $hd;
  }
  &-background {
    width: 100%;
  }
}

.appointment {
  &-ad {
    height: 76px * $hd;
    width: 371px * $hd;
  }
  &-detail-ad {
    height: 62px * $hd;
    width: 520px * $hd;
  }
  &-padding {
    margin-right: 32px;
  }
  &-fix-icon {
    width: 7vw;
    height: 7vw;
    position: fixed;
    bottom: 50px;
    right: 50px;
    background: #fff;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
  }
  &-audit {
    width: 22px * $hd;
    height: 22px * $hd;
    background: rgba(255, 201, 25, 1);
    border: 4px * $hd solid rgba(255, 220, 107, 1);
    border-radius: 50%;
    opacity: 1;
  }
  &-noaudit {
    width: 22px * $hd;
    height: 22px * $hd;
    background: rgba(210, 210, 210, 1);
    border: 4px * $hd solid rgba(242, 242, 242, 1);
    border-radius: 50%;
    opacity: 1;
  }
  &-line {
    width: 0px * $hd;
    height: 45px * $hd;
    border: 3px * $hd solid rgba(255, 220, 107, 1);
    opacity: 1;
    margin-left: 13px * $hd;
  }
  &-noline {
    width: 0px * $hd;
    height: 45px * $hd;
    border: 3px * $hd solid rgba(242, 242, 242, 1);
    opacity: 1;
    margin-left: 13px * $hd;
  }
  &-board {
    position: absolute;
    top: 4%;
    z-index: 999;
    width: 345px * $hd;
    height: 410px * $hd;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    border-radius: 12px * $hd;
  }

  &-envolpe {
    width: 45px * $hd;
    height: 45px * $hd;
    position: absolute;
    left: 54%;
    bottom: 14%;
  }

  &-head {
    height: 63px * $hd;
    width: 356px * $hd;
  }

  &-image {
    height: 15px * $hd;
    width: 15px * $hd;
  }
  &-detail {
    &-head {
      position: absolute;
      top: 3%;
      left: 10px * $hd;
      z-index: 999;
    }

    &-line {
      width: 95%;
      height: 0px * $hd;
      border: 0.5px * $hd solid rgba(232, 232, 232, 1);
      opacity: 1;
    }

  }
}
