@import "overrides";

.user-card {
  .at-avatar {
    border: 8px solid #ffffff;
    width: $hd * 70px;
    height: $hd * 70px;
  }
}

.apartment-header {
  .at-avatar {
    width: $hd * 80px;
    height: $hd * 80px;
  }
}
