@import "overrides";

.badge {
  background: #FF9C9C;
  color: #FFFFFF;
  font-size: $font-size-xs;
  border-radius: 25px;
  width: 19px * $hd;
  height: 19px * $hd;
  text-align: center;
  line-height: 19px * $hd;
  padding: 11px
}

.badge-lian {
  color: #38c650;
  background: #cbfdd3;
}

.badge-tuan {
  color: rgba(255, 125, 125, 1);
  background: #fdeeeb;
}

.badge-xiao {
  color: #ff9421;
  background: #fdeebf;
}

.badge-cu {
  color: rgba(255, 125, 125, 1);
  background: #fdeeeb;
}

.badge-lao {
  color: rgba(236, 251, 255, 1);
  background: #CBEEFC;
}

.badge-shuidian {
  color: #8b572a;
  background: #fbdec4;
}

.badge-rentTime {
  color: #ff9421;
  background: #faf4db;
}

.badge-discount {
  color: rgba(255, 125, 125, 1);
  background: #fdeeeb;
}
