@import "overrides";

.bargain {
  background: #fc8f4b;
  min-height: 100vh;
  &-background {
    height: 900px * $hd;
    background: linear-gradient(to bottom, #fa624a, #ffca4e);
  }
  &-header {
    width: 120%;
    left: 47% !important;
    top: -50px * $hd !important;
  }

  &-main-block {
    position: relative;
    z-index: 10;
    top: 200px * $hd;

    &-image {
      position: relative;
      top: -50px;
      box-shadow: 0px 3px 6px #000;
    }
    &-price {
      border: 1px solid rgba(213, 213, 213, 1);
      box-sizing: border-box;
      border-radius: 8px * $hd;
      padding: 5px * $hd 20px * $hd;
    }
    // 吸引词
    &.gray-border {
      line-height: 30px * $hd;
      border-bottom: 1px solid rgba(232, 232, 232, 1);
    }
    &-header {
      width: 30px * $hd;
      height: 30px * $hd;
      border-radius: 50%;
    }
  }

  &-tab {
    &-button:last-child {
      padding-right: 0 !important;
    }
  }

  &-image {
    width: 126px * $hd;
    height: 94px * $hd;
    border-radius: 6px * $hd;
    overflow: hidden;
    &-mask {
      background: rgba($color: #000000, $alpha: 0.5);
      color: #fff;
      position: absolute;
      bottom: 0;
      height: 21px * $hd;
      width: 100%;
    }
    &-wrap {
      position: relative;
      overflow: hidden;
    }
  }

  &-tag {
    border-radius: 6px * $hd;
    padding: 4px * $hd 8px * $hd;
  }
}
