@import "overrides";

$borders: left, right, top, bottom !default;

@each $border in $borders {
  .border-#{$border} {
    border-#{$border}: 1px solid #F8F8F8;
  }
}

.border-decorate {
  width: 4px * $hd;
  border-radius: 8px;

  &-yellow {
    background: $color-yellow-0;
  }

  &-grey {
    background: #888888;
  }
}
