@import "overrides";

.btn-green {
  border-color: #06bb08;
  background: #06bb08;
  color: #ffffff;
}

.btn-yellow {
  border-color: $color-yellow-0;
  background: $color-white;
  color: $color-yellow-0;

  &.active {
    border-color: $color-yellow-0;
    background: $color-yellow-0;
    color: $color-white;
  }
}

.btn-grey {
  border-color: #F2F2F2;
  background: #F2F2F2;
  color: #888888;
}

.btn-order-status {
  padding: 5px * $hd;
  color: $color-white;
  background: $color-yellow-0;
  border-radius: 15px * $hd 0 0 15px * $hd;
  position: absolute;
  right: 0;
  top: 8px * $hd;
}

.button-order {
  width: 50px * $hd;
  height: 50px * $hd;
  border-radius: 50%;
  background: #F9F9F9;
}

.btn-none {
  border: none;
  background: none;
}

.btn-none::after {
  border: none;
}
