@import "overrides";

.btn-green {
  border-color: #06bb08;
  background: #06bb08;
  color: #ffffff;
}

.btn-yellow {
  border-color: $color-yellow-0;
  background: $color-white;
  color: $color-yellow-0;

  &.active {
    border-color: $color-yellow-0;
    background: $color-yellow-0;
    color: $color-white;
  }
}

.button-order {
  width: 50px * $hd;
  height: 50px * $hd;
  border-radius: 50%;
  background: #F9F9F9;
}
