@import "overrides";

.carousel {
  image {
    border-radius: 5px * $hd;
  }

  &-normal {
    white-space: nowrap;

    &-item {
      position: relative;
      display: inline-block;
      .title {
        position: absolute;
        left: 5%;
        top: 76%;
        z-index : 50,
      }

      .count {
        position: absolute;
        left: 9px * $hd;
        top: 6px * $hd;
        border-radius: 8px * $hd;
        padding: 3px * $hd 0;
        min-width: 48px * $hd;
        background: $color-white;
        text-align: center;
        justify-content: center;
        align-items: center;
        opacity: 0.8
      }
    }
  }
}
