@import "overrides";
.apartment-header {
  .at-avatar {
    width: $hd * 80px;
    height: $hd * 80px;
  }
}

.curtain-white {
  .at-curtain__container {
    width: 65%;
  }
  .at-curtain__body {
    background: #fff;
    border-radius: $border-radius-small;
  }
}

.bargain-activity-description {
  .at-button {
    line-height: 32px * $hd;
    height: auto;
    border-radius: 0;
    border: none;
  }
}
