@import "overrides";

.user-list-item {
  background: $color-white;
  border-bottom:1px solid #f8f8f8;

  &:first-child {
    border-radius: 10px * $hd 10px * $hd 0 0;
  }

  &:last-child {
    border-radius: 0 0 10px * $hd 10px * $hd;
    border-bottom: none;
  }
}


