.grayLineStyle {
  height: 60%;
  border-left: 1px solid rgb(240, 240, 240);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.navStyle {
  position: fixed;
  width: 100%;
  background-color: #fff;
  top: 0;
  z-index: 999;

  &-titleStyle {
    margin-top: 4px;
    position: relative;
  }

  &-titleFontStyle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &-menuButtonStyle {
    border-radius: 72px;
    border: 1px solid rgb(240, 240, 240);
    padding: 4px 10px;
    width: 174px;
    position: relative;
  }
}
