@import "overrides";

page {
  background: #F8F8F8;
}

.page {

  &-demo {
    font-weight: 200;
    font-size: 16px * $hd;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }

  &-white {
    background: #ffffff;
    min-height: 100vh;
  }

  &-recommend {
    background: url('https://images.gongyuabc.com/bg.jpg') center center no-repeat;
    background-size: cover;
    width: 100vw;
    height: 90vh;
  }

  &-mask {
    position: fixed;
    left: 0;
    width: 100vh;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.6)
  }
}
