@import "overrides";
.tag {
  border-radius: 6px * $hd;
  padding: 8px * $hd;
  margin-right: 4px * $hd;

  &--special {
    color: $color-yellow-0;
    background: $color-yellow-1;

    &.tag--active {
      color: $color-white;
      background: $color-yellow-0;
    }
  }

  &--primary {
    color: $color-white;
    background: $color-yellow-0;
  }

  &--red {
    color: #FFA2A2;
    background: #FFEFEF;
  }

  &--yellow {
    color: $color-yellow-0;
    background: #FFFAE9;
  }

  &--blue {
    color: #7BE3FF;
    background: #ECFBFF;
  }

  &--grey {
    color: $color-white;
    background: #888888;
  }

  &-small {
    padding: 4px * $hd 8px * $hd;
    margin-right: 2px * $hd;
  }

  &-circle {
    border-radius: 20px * $hd;
  }
}
