.text {
  &-center {
    text-align: center !important;
  }

  &-through {
    text-decoration: line-through !important;
  }

  &-muted {
    color: $color-grey-2 !important;
  }

  &-small {
    font-size: $font-size-base;
  }
}
