@import "overrides";
.user {
  &-image {
    width: 97vw;
    height: 90px * $hd;
  }
  &-home-image {
    width: 98vw;
    height: 90px * $hd;
  }
  &-coupon {
    width: 90%;
    position: relative;
    left: 5%;
    border-top-left-radius: 12px * $hd;
    border-top-right-radius: 12px * $hd;
    background: #fff;
    min-height: 100vh;

    .at-button {
      height: 37px * $hd;
      line-height: 37px * $hd;
    }
    &-input {
      width: 90%;
      margin-left: 5%;
    }
    &-nav-active {
      border-bottom: 2px * $hd solid #ffc919;
    }
  }
  &-customer-service {
    .gray-line {
      height: 1px;
      background: rgb(220, 220, 220);
      width: 80%;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
}
